<section class="c-banner" id="about">
  <div class="c-banner__inner">
    <h3 class="c-banner__subheading">
      we are a talent search company with over a decade's experience in digital marketing, products, and branding space<span class="c-period">.</span>
    </h3>
  </div>
</section>

<section class="c-section" style="border-bottom: 1px solid #ccc;">
  <div class="c-section__inner">
    <ul class="c-about__list">
      <li class="c-about__list-item">
        <h3 class="c-about__subheading">The aim</h3>
        <p class="c-about__text">
          is to support your talent acquisition function through customized solutions that ensures scalability for your business.
        </p>
      </li>

      <li class="c-about__list-item">
        <h3 class="c-about__subheading">The approach</h3>
        <p class="c-about__text is-last">
          focuses on innovative and individualized sourcing strategies, a vigorous pipeline of industry specific talent, and a social/referral based network. Our reach spans local and national markets that address your requirements quickly and efficiently.
        </p>
      </li>

      <li class="c-about__list-item">
        <h3 class="c-about__subheading">We are trusted advisors who live and breathe your space.</h3>
      </li>
    </ul>
  </div>
</section>
