<section class="c-section" id="contact">
  <div class="c-section__inner" style="max-width: 676px;">
    <h2 class="c-section__heading">
      Let’s Connect
    </h2>
  </div>

  <div class="c-connect">
    <form
      accept-charset="UTF-8"
      action="https://getsimpleform.com/messages?form_api_token=e4c5c9588a7e801051d90110785289f5"
      method="post"
    >
      <input type='hidden' name='redirect_to' value='http://ashkaratalentconsultant.com/thanks-for-connecting.html' />
      <div class="row">
        <div class="col-md-12">
          <div class="control-group form-group">
            <select
              name="lookingFor"
              id="lookingFor"
              class="custom-select sources"
              placeholder="I am looking for"
            >
              <option value="talent">Talent</option>
              <option value="work">Work</option>
            </select>
          </div>

          <div class="control-group form-group">
            <input
              required
              type="text"
              class="form-control"
              placeholder="Full Name"
              id="fullName"
              name="full name"
            >
          </div>

          <div class="control-group form-group">
            <input
              required
              type="email"
              class="form-control"
              placeholder="Email"
              id="email"
              name="email"
            >
          </div>


          <div class="control-group form-group">
            <input
              required
              type="text"
              class="form-control"
              placeholder="Company"
              id="companyName"
              name="company name"
            >
          </div>


          <div class="control-group form-group">
            <input
              required
              type="text"
              class="form-control"
              placeholder="Website"
              id="website"
              name="website"
            >
          </div>

          <div class="control-group form-group">
            <input
              required
              type="text"
              class="form-control"
              placeholder="Location"
              id="location"
              name="location"
            >
          </div>


          <div class="control-group form-group">
            <textarea class="form-control" placeholder="How can we help you?" id="message" name="message" required></textarea>
          </div>


          <div class="text-center">
            <div id="success"></div>
            <button type="submit" class="btn btn-xl">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
