<section class="c-section c-section__yellow" id="di">
    <div class="c-section__inner">
      <div class="di_banner__col"><img src="img/di.jpg" class="img-responsive img-centered" alt="" /></div>
      <div class="di_separator__col">&nbsp;</div>
      <div class="di_content__col">
          <h2 class="c-section__heading">Embracing our differences<span style="color:#C20AC2">.</span></h2>
          <p>Diversity. Equity. Inclusion. Beyond just words, they are a prerequisite.</p>
          <p>We welcome differences that drive culture and creativity. We support inclusive 
            environments where race, gender, age, religion, and identity are celebrated. We
            believe in empowerment of people, where experiences and ideas are shared, 
            valued, and rewarded. We continue to grow our network with diversity, equity, 
            and inclusion as a focal point, positioning our talent for success. 
            </p>
      </div>
    </div>
  </section>