<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/" style="display: flex; align-items: flex-start;">
        <img class="navbar-brand-logo" src="img/logo-aktc.svg" /> 
        <div>
          <span>{{site.title}}</span> 
          <small>Talent Consultant</small>
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#page-top">Home</a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li>
          <a class="page-scroll" href="#solutions">Solutions</a>
        </li>
        <li>
          <a class="page-scroll" href="#di">D & I</a>
        </li>
        <li>
          <a class="page-scroll" href="#openings">Openings</a>
        </li>        
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
        <li>
          <a class="page-scroll" href="#testimonials">Success Stories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
