<section class="c-section c-section__testimonials" id="testimonials">
  <div class="c-section__inner">
    <h2 class="c-section__heading" style="border-bottom: 5px solid #E1CA1D;">
      Success Stories
    </h2>

    <ul class="c-testimonials__list">
      <li class="c-testimonials__list-item">
        <figure>
          <blockquote class="c-testimonial">
            <p>Ash helped me land an amazing position as a Motion Design Director at a fantastic company here in LA. From the moment he first contacted me and throughout the entire process he was always diligent and respectful in understanding my skills, experience, and what I am looking for in my next place of employment. He makes himself present during all the steps of the process. He is always easily accessible and attentive to every detail. Due to his experience in the industry, he makes sure both talent and client are a perfect match. It has been pleasure working with him and hope to continue our relationship. I would highly recommend Ash!</p>
          </blockquote>
          <figcaption class="c-testimonial__cite">
            <cite>Andrea (Talent)<br />
              Motion Design Director<br />
              Creative Production + Post Studio (LA)
            </cite>
          </figcaption>
        </figure>
      </li>

      <li class="c-testimonials__list-item">
        <figure>
          <blockquote class="c-testimonial">
            <p>Ash Kara was instrumental in vetting talent for a Senior Designer role on my team. His thoughtful insights and thorough vetting process enabled me to choose from a robust list of potential candidates. Within a week of meeting one of his candidates I extended an offer and the candidate accepted. Ash has a honest, creative, and dedicated approach in addressing my hiring needs. One of my favorite things about working with Ash is discussing what’s happening in the creative industry; he always has a thoughtful perspective on the industry.</p>
          </blockquote>
          <figcaption class="c-testimonial__cite">
            <cite>Kevin (Client)<br />
              Sr. Designer Director<br />
              Creative Advocacy Agency (DC)
            </cite>
          </figcaption>
        </figure>
      </li>

      <li class="c-testimonials__list-item">
        <figure>
          <blockquote class="c-testimonial">
            <p>I have been working with Ash Kara Talent Consultant for over a year now.  He has successfully translated my specific needs and challenges into high-quality and cost-effective hiring solutions. I have partnered with Ash on several Creative, Technology and Project Management openings where he has dedicated time and energy to finding the right candidates for my studio; and in many cases, I was faced with the difficult decision of choosing between multiple qualified candidates. Ash has a great pulse industry trends, a unique ability quickly understands my business and challenges and provide strategic recommendations for me to scale my business.</p>
          </blockquote>
          <figcaption class="c-testimonial__cite">
            <cite>Juan (Client)<br />
              Founder/Creative Director<br />
              Web Experience Agency (CA)
            </cite>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>