
.c-brand-logos {
  margin: 0;
  padding: 0;
  list-style: none;;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

@media(min-width:767px) {
  .c-brand-logos {
    margin-left: 87px;
  }
}

.c-brand-logo {
  width: 50%;
  height: 166px;
  padding: 35px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width:767px) {
  .c-brand-logo {
    width: 50%;
    height: 340px;
  }
}

@media(min-width:992px) {
  .c-brand-logo {
    width: 33.333333%;
    height: 340px;
  }
}
