.c-about__list {
  margin: 160px 0 0 0;
  padding: 0;
  list-style: none;;
}

@media(min-width:767px) {
  .c-about__list {
    margin: 0;
    display: flex;
    padding-top: 60px;
  }
}

.c-about__list-item {
  width: 100%;
  counter-increment: c-about__list-item;
  position: relative;
  padding-top: 20px;
  border-top: 8px solid #eee;
  margin-bottom: 100px;
}

.c-about__list-item:last-child {
  margin-bottom: 20px;
}

@media(min-width:767px) {
  .c-about__list-item {
    width: 30.333%;
    margin-bottom: 0;
    margin-right: 40px;
    min-height: 300px;
  }

  .c-about__list-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.c-about__list-item::before {
  content: counter(c-about__list-item, decimal-leading-zero);
  position: absolute;
  top: -70px;
  left: 0;
  font-family: {{ site.data.template.font.primary }};
  font-weight: 700;
  color: #C20AC2;
  font-size: 32px;
  line-height: 38px;
}

@media(min-width:767px) {
  .c-about__list-item::before {
    font-size: 32px;
  }
}

.c-about__subheading {
  font-family: {{ site.data.template.font.primary }};
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  margin-top: 0;
}

@media(min-width:767px) {
  .c-about__subheading {
    font-size: 32px;
    line-height: 38px;
  }
}

.c-about__text {
  font-family: {{ site.data.template.font.primary }};
  font-size: 16px;
  color: #000;
  line-height: 24px;
  margin-bottom: 40px;
}

.c-about__text.is-last {
  margin-bottom: 0;
}

@media(min-width:767px) {
  .c-about__text {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0;
  }
}



/* =============
   Banner
=============== */

.c-banner {
  background-color: #E1CA1D;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

@media(min-width:767px) {
  .c-banner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


.c-banner__inner {
  max-width: 1280px;
  margin: 0 auto;
}

.c-banner__subheading {
  font-family: {{ site.data.template.font.primary }};
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #222A35;
  margin: 0;
}

@media(min-width:767px) {
  .c-banner__subheading {
    font-size: 50px;
    line-height: 58px;
  }
}
