.c-section__yellow{
    background: #E1CA1D;
    padding-top: 0;
    padding-bottom: 30px;
}

.di_banner__col{
    max-width: 100%;
}

.di_content__col{
    max-width: 100%;
    color: #222A35;
    font-size: 17px;
}

@media(min-width:767px) {
    .c-section__yellow{
        padding-top: 0;
        padding-bottom: 0;
    }

    #di .c-section__inner{
        display: flex;
        align-items: center;
    }

    .di_banner__col{
        width: 45%;
    }
    .di_content__col{
        max-width: 675px;
        padding: 30px;
    }
}

.c-section__yellow .c-section__heading{
    color:#ffffff;
}