.navbar-default {
  background-color: #222A35;
}

.navbar-default .container {
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
}

@media(min-width:767px) {
  .navbar-default .container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }
}

.navbar-default .navbar-brand {
  color: #000;
  text-transform: uppercase;
  font-family: {{ site.data.template.font.primary }};
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 20px 0;
}

@media(min-width: 1200px) {
  .navbar-default .navbar-brand {
    font-size: 25px;
    font-weight: 700;
  }
}

.navbar-default .navbar-brand span {
  padding-right: 10px;
  margin-right: 6px;
  display: block;
  color: #E1CA1D;
}

.navbar-default .navbar-brand small {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

@media(min-width: 1200px) {
  .navbar-default .navbar-brand small {
    margin-left: 62px;
  }
}

.navbar-brand-logo {
  margin-top: 2px;
  margin-right: 10px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #C20AC2;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02);
  padding-bottom: 0;
  margin-top: 10px;
  max-height: 495px;
}

.navbar-default .navbar-toggle {
  border: 0
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #C20AC2;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  transition: all ease .35s;
  font-family: {{ site.data.template.font.primary }};
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-bottom: 4px solid transparent;
  padding: 28px 10px 10px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #C20AC2;
}

.navbar-default .navbar-nav > .active > a {
  color: #ffffff;
  background-color: transparent;
  border-bottom: 4px solid #C20AC2;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar .container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  /* border-bottom: 1px solid #6F747B; */
}

.navbar-nav > li > a {
  padding-bottom: 5px;
}

