.c-openings {
  border-top: 5px solid #E1CA1D;
  padding-left: 20px;
  padding-right: 20px;
}

#openings .c-section__inner {
  border-bottom: 1px solid #CCCCCC;
}

@media(min-width:767px) {
  .c-openings {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .c-openings__col {
    width: 33.333%;
    margin: 20px 0 20px 0;
  }
}

.c-openings__heading {
  font-family: {{ site.data.template.font.primary }};
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  text-transform: capitalize;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.c-openings__list {
  list-style: none;;
  margin: 0;
  padding: 0;
}

.c-openings__opening a {
  font-family: {{ site.data.template.font.primary }};
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 22px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: block;
  position: relative;
}

.c-openings__opening a:hover {
  color: #C20AC2;
  text-decoration-color: #C20AC2;
}
