.c-philosophy__list {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-philosophy__list-item {
  width: 100%;
  padding: 30px 20px;
  min-height: 240px;
}

@media(min-width:767px) {
  .c-philosophy__list-item {
    width: 50%;
  }
}

@media(min-width:992px) {
  .c-philosophy__list-item {
    width: 25%;
  }
}

.c-philosophy__text {
  font-family: {{ site.data.template.font.primary }};
  font-size: 16px;
  color: #000;
  line-height: 22px;
  text-align: left;
  margin-bottom: 0;
}
