.c-section__testimonials {
  padding-top: 0;
}

.c-testimonials__list {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;;
}

@media(min-width:992px) {
  .c-testimonials__list {
    margin: 0;
    display: flex;
    padding-top: 60px;
  }
}

.c-testimonials__list-item {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

@media(min-width:992px) {
  .c-testimonials__list-item {
    width: 30.333%;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.c-testimonial {
  font-family: {{ site.data.template.font.primary }};
  font-size: 14px;
  color: #A6A6A6;
  line-height: 20px;
  margin-bottom: 40px;
  border: 0;
  margin: 0 0 20px;
  padding: 0;
}

@media(min-width:992px) {
  .c-testimonial {
    min-height: 240px;
  }
}

.c-testimonial__cite {
  font-weight: bold;
  color: #222A35;
}

@media(min-width:992px) {
  .c-testimonial__cite {
    text-align: right;
  }
}