<section class="c-section" id="partners">
  <div class="c-section__inner">
    <h2 class="c-section__heading">
      Our Partners
    </h2>

    <div class="c-brands">
      <ul class="c-brand-logos">
        <li class="c-brand-logo">
          <img src="img/logo-apple.png" class="img-responsive img-centered" alt="">
        </li>
        <li class="c-brand-logo">
          <img src="img/logo-nike.png" class="img-responsive img-centered" alt="">
        </li>
        <li class="c-brand-logo">
          <img src="img/logo-whole-foods.png" class="img-responsive img-centered" alt="">
        </li>
        <li class="c-brand-logo">
          <img src="img/logo-boa.png" class="img-responsive img-centered" alt="">
        </li>
        <li class="c-brand-logo">
          <img src="img/logo-mastercard.png" class="img-responsive img-centered" alt="">
        </li>
        <li class="c-brand-logo">
          <img src="img/logo-adobe.png" class="img-responsive img-centered" alt="">
        </li>
      </ul>
    </div>
  </div>
</section>
